<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <title>Error occured!</title>
</head>
<body>
  <h3>Error: <span id="error_message"><%= error_message%></span> redirecting to <span id="redirect_page"><%= redirect_page %></span></h3>
  <script>
    jQuery(document).ready(function() {
      let error_message = jQuery('#error_message').text();
      let redirect_page = jQuery('#redirect_page').text();
      let showMessage = confirm(error_message);

      if (showMessage) {
        location.replace(redirect_page);
      }
    })
  </script>
</body>
</html>